body{
    font-family: 'Montserrat', sans-serif;
    color:white;
}

main{
    height: calc(100vh - 100px);
    width: 100%;
}

main>.row{
    height: 100%;
}

.box{
    width: 100%;
}

.dark-filter30{
    filter: brightness(0.30);
}

.dark-filter50{
    filter: brightness(0.50);
}

.dark-filter80{
    filter: brightness(0.80);
}

.dark-filter30:hover, .dark-filter50:hover, .dark-filter80:hover{
    filter: brightness(1);
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style-type:none ;
}

.main-box .container-fluid{
    height: calc(100% - 100px);
    overflow-y: auto;
}

/* side navbar */

nav{
    background-color: #000000;
    width: 100%;
    height: calc(100% - 111px);
    border: 1px solid black;
    padding: 10px 20px;
    position: relative;
}

.nav .box, nav .box{
    max-width: 60%;
}

#logo{
    margin: 10px 20px 30px 0;
}

nav .nav-link{
    height: 40px;
    width: 70%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white ;
    font-weight: 500;
}

nav .nav-link:hover{
    border-left: 5px solid #1ed760;
    margin-left: -15px;
    padding-left: 10px;
}

nav .nav-link>img{
    height: 80%;
    color:#656565 ;
    margin-right: 10px;
}

nav .playlist{
    margin:40px 0 30px 0;
}

nav .playlist>h3{
    text-transform: uppercase;
}

.new-playlist{
    height: 40px;
    display: flex;
    align-content: center;
    margin-top: 20px;
}

.new-playlist>i{
    font-size: 50px;
    margin-right: 10px;
}

.new-playlist>span{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.pl-list{
    overflow-y: auto;
    
    
}

.pl-list>li{
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
}

.scrollable{
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

 .nav-foot{
    background-color: black;
    padding: 10px;
    height: 111px;
} 

.download{
    border-bottom: 1px solid #4d4d4d;
    
}

.download a{
    align-items: center;
    padding: 7px 0;
}

.download>a>img{
    height: 20px;
    margin-right: 10px;
}

.user{
    align-items: center;
    padding: 15px 0 5px 0;
}

.user>i{
    font-size: 40px;
    margin-right: 10px;
}

.user>span{
    font-size: 20px;
    font-weight: 500;
}
/* main body */

.main-box{
    background-color:#141922;
    height: 100%;
}

.call-to-action{
    height: 100px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    
}

.top-bar{
    position: fixed;
    top: 0;
    right: 0;
    left: calc((100% / 12) * 2);
}

.btn-cta{
    min-width: 200px;
    border-radius: 50px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-right: 40px;
    padding: 0 20px;
}

.btn-cta:hover{
    background-color:#1ed760 ;
}

/* contenuto della pagina principale */

.content{
    margin-top: 100px;
}

.categoria{
    height: 40px;
    margin: 15px 15px 0 15px;
    text-transform: uppercase;
    text-align: center;
}

.categoria a{
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
}

.sub{
    width: 55%;
    margin: 5px auto;
    height: 2px;
    display: none;
    background-color: #1ed760;
}

.categoria:hover .sub{
    display: block;
}

.content-box{
    margin: 20px;
}

.card{
    margin: 0 20px;
}

.card img{
    max-width: 100%;
}

.card h4{
    margin: 15px 0 10px 0;
    text-align: center;
}

.card span{
    font-size: 12px;
    color: #808080;
}

/* footer */

footer{
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
}

footer>.row{
    background-color:#282828 ;
    height: 100%;
    z-index: 3;
}

footer .box{
    height: 100%;
    padding: 20px;
}

footer .box img,footer .box a{
    height: 100%;
    width: 60px;
}

footer .info-track{
    margin-left: 15px;
}

footer .info-track strong{
    font-size: 16px;
}

footer .info-track .artist{
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-top: 3px;
}

footer .info-track .artist{
    
    min-width: 80px;
}

footer .actions a{
    margin-left: 10px;
    font-size: 25px;
    width: 30px;
    
}

footer .actions a:first-child{
    margin-left: 80px;
}

footer .actions a:hover i{
    font-weight: 800;
}

.player{
    max-width: 100%;
    font-size: 12px;
    margin: 5px;
}

.player a:nth-child(even){
    font-size: 17px;
}

.player a:nth-child(3){
    font-size: 30px;
}



.bar{
    height: 4px;
    background-color: #5a5a5a;
    position: relative;
    border-radius: 2px;
}

.bar .prog{
    position:absolute;
    left: 0;
    background-color: #c1c1c1;
    width: 30%;
}

.manopola{
    height: 12px;
    width: 12px;
    border-radius: 100%;
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid rgb(20, 20, 20);
    transform: translate(50% , -30%);
}

.bar:hover{
    cursor: pointer;
}

.bar:hover .manopola{
    display: block;
}

.bar:hover .prog{
    background-color: #1ed760;
}

footer .dx-side a{
    height: 16px;
    width: 15px;
}

footer .dx-side>*{
    margin: 0 15px;
}

#volume{
    max-width: 100px;
    margin: 0 5px 0 5px;
}

