/* common */

body{
    font-family: 'Montserrat', sans-serif;
    color:white;
    overflow-y: hidden;
}

main{
    height: calc(100vh - 100px);
    width: 100%;
}

main>.row{
    height: 100%;
}

.box{
    width: 100%;
}

.dark-filter30{
    filter: brightness(0.30);
}

.dark-filter50{
    filter: brightness(0.50);
}

.dark-filter80{
    filter: brightness(0.80);
}

.dark-filter30:hover, .dark-filter50:hover, .dark-filter80:hover{
    filter: brightness(1);
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style-type:none ;
}

.main-box .container-fluid{
    height: calc(100% - 100px);
    overflow-y: auto;
}

/* side navbar */

nav{
    background-color: #000000;
    width: 100%;
    height: calc(100% - 111px);
    padding: 10px 20px;
    position: relative;
    z-index: 2;
    min-height: 480px;
}
.nav{
    width: 230px;
    flex-shrink: 0;
    flex-grow: 0;
}


@media screen and (max-width:576px) {
    .nav-xs{
        min-width: none;
        flex-shrink: 0;
        flex-grow: 0;
        width: 60px;
    }

    .side-xs{
        display: none;
    }
    nav{
        padding-left: 10px;
    }
    nav .nav-link:hover{
        border-left: 5px solid #1ed760;
        margin-left: 0px;
        padding-left: 10px;
    }
    .xs-variant{
        flex-basis: 70px;
        min-width: 70px;
    }
}



.nav .box, nav .box{
    max-width: 60%;
}

#logo-xs{
        margin: 10px 20px 30px 0;
        z-index: 999999;
        display: inline-block;
        height: 35px;
}

#logo-xs img{
    height: 100%;
}

#logo{
        display: none;
}

@media screen and (min-width:576px){
    #logo-xs{
        display:none;
    }

    #logo{
        margin: 10px 20px 30px 0;
        z-index: 999999;
        display: inline-block;
        height: 50px;
    }

    #logo img{
        height: 100%;
    }
    .user>i{
        text-align: center;
    }
    .nav-foot{
        padding: 10px 20px;
    }
}





/* voci principai */

nav .nav-link{
    height: 40px;
    width: 70%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white ;
    font-weight: 500;
}

nav .nav-link:hover{
    border-left: 5px solid #1ed760;
    margin-left: -20px;
    padding-left: 15px;
}

nav .nav-link>img{
    height: 80%;
    color:#656565 ;
    margin-right: 10px;
}

/* playlist */

nav .playlist{
    margin:40px 0 30px 0;
    width: 100%;
    background-color: black;
}

nav .playlist>h3{
    text-transform: uppercase;
}

.new-playlist{
    height: 40px;
    display: flex;
    align-content: center;
    margin-top: 20px;
}

.new-playlist>i{
    font-size: 50px;
    margin-right: 10px;
}

.new-playlist>span{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.pl-list{
    overflow-y: auto;
}

.pl-list>li{
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
}

.scrollable{
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
}

/* side nav foot */

 .nav-foot{
    background-color: black;
    padding: 10px 10px;
    max-height: 111px;
    flex-shrink: 2;
}

.download{
    border-bottom: 1px solid #4d4d4d;
}

.download a{
    align-items: center;
    padding: 7px 0;
}

.download>a>img{
    height: 20px;
    margin-right: 10px;
}

.user{
    align-items: center;
    padding: 15px 0 5px 0;
    flex-shrink: 1;
}

.user>i{
    font-size: 40px;
    margin-right: 10px;
}

.user>span{
    font-size: 20px;
    font-weight: 500;
}
/* main body */

.main-box{
    background-color:#141922;
    height: 100%;
}

/* top banner */

.call-to-action{
    height: 100px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.top-bar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.top-bar-xs{
    left: 50px;
}

@media  screen and (min-width:576px) {
    .top-bar-xs{
        left: 230px;
    }
}

.btn-cta{
    min-width: 200px;
    border-radius: 50px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin:0 40px;
    padding: 0 20px;

}

.btn-cta:hover{
    background-color:#1ed760 ;
}

/* contenuto della pagina principale */

#side{
    max-width: calc(100% - 220px);
}

.content{
    margin-top: 100px;
    height: calc(100vh - 100px);
}

.container-fluid{
    min-height: calc(100vh - 100px);
}

/* categorie */

.categoria{
    height: 40px;
    margin: 15px 15px 0 15px;
    text-transform: uppercase;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 140px;
}

.categoria a{
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
    min-width: 100px;
}

.sub{
    width: 25%;
    margin: 5px auto;
    height: 2px;
    display: none;
    background-color: #1ed760;
}

.categoria:hover .sub{
    display: block;
}

.content-box{
    margin: 20px;
}

/* sezioni con card */



.card{
    margin: 0 10px 30px 10px;
    padding: 15px 10px;
    flex-shrink: 0;
    min-width: 200px;
    flex-basis: calc((100% / 6) - 20px);
    background-color: #272a2f;
    border-radius: 4px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    min-height: 30px;
}

.card .img-box{
    width: 100%;
    position: relative;
}

.card .img-box .play{
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: calc(100% - 4px);
    position: absolute;
    left: 0;
    top: 0;
}

.card .img-box .play{
    font-size: 70px;
}

.card .img-box .play i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);

}

.img-box:hover .play{
    display: block;
}

.card img{
    max-width: 100%;
}

.card h4{
    margin: 15px 0 10px 0;
    text-align: center;
}

.card span a, .card span{
    font-size: 12px;
    color: #808080;
}

.underline:hover{
    text-decoration: underline;
}

h6{
    font-weight: 500;
    font-size: 14px;
    margin: 10px 0;
    color: #808080;
}

.artista{
    border-radius: 50%;
}

/* footer */

@media  screen and (min-width:576) {
    footer .info-track strong {
        font-size: 16px;
    }
    footer .info-track .info-artist{
        font-size: 10px;
    }
}


footer{
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

footer>.row{
    background-color:#282828 ;
    height: 100%;
    z-index: 3;
}

footer .box{
    height: 100%;
    padding: 20px;
}

footer .box img{
    height: 100%;
}

footer .box .img-foot{
    height: 90%;
    width: 54px;
    

}
/* info traccia in riproduzione (sinistra) */

footer .info-track{
    margin-left: 3%;
}

footer .info-track strong{
    font-size: 12px;
}

footer .info-track .info-artist{
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-top: 3px;
}

footer .info-track .info-artist{
    max-width: 90px; 
}

footer .actions a{
    font-size: 25px;
    width: 30px;
    margin-left: 50%;
}

footer .actions a:hover i{
    font-weight: 800;
}

#player-int{
    min-width: 175px;
    flex-grow: 1;
    flex-shrink: 0;
    justify-self: center;
}

.player{
    max-width: 100%;
    font-size: 12px;
    margin: 5px;
}

.player a{
    margin: 0 2%;
}

.player a:nth-child(even){
    font-size: 17px;
}

.player a:nth-child(3){
    font-size: 30px;
}

.player span{
    margin: 0 5px;
}



.bar{
    height: 4px;
    background-color: #5a5a5a;
    position: relative;
    border-radius: 2px;
}

.bar .prog{
    position:absolute;
    left: 0;
    background-color: #c1c1c1;
    width: 30%;
}

.manopola{
    height: 12px;
    width: 12px;
    border-radius: 100%;
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid rgb(20, 20, 20);
    transform: translate(50% , -30%);
}

.bar:hover{
    cursor: pointer;
}

.bar:hover .manopola{
    display: block;
}

.bar:hover .prog{
    background-color: #1ed760;
}

footer .dx-side{
    width: 100%;
    padding-right: 10%;
}

footer .dx-side .dx-side-box{
    width: 80%;
}

footer .dx-side a {
    height: 10%;
}
footer .dx-side .vol a{
    height: 100%;
}

footer .dx-side>div>*{
    margin: 0 5px;
}

footer .dx-side .tool{
    width: 100%;
}

#volume{
    max-width: 100px;
    margin: 0 20px 0 10px;
}

#volume .bar{
    min-width: 60px;
}


